.main-footer {
  color: white;
  background-color: #5597b4;
  padding-top: 1em;
  position: relative;
  bottom: 0;
  width: 100%;
}
.main-footer > .container > .row {
  display: flex;
  justify-content: space-around;
}

.list-unstyled {
  list-style-type: none;
}

@media only screen and (max-width: 670px) {
  .main-footer > .container > .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
