html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}
.content {
  padding-top: 50px;
}
#home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#carousel {
  height: 50vh;
  width: 100vw;
  max-width: 75vw;
  margin: auto;
}
.imageSize {
  width: 25vw;
  height: 50vh;
}
.pictureBox {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
#introduction {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#introduction > p {
  width: 90vw;
}

@media only screen and (max-width: 670px) {
  #carousel {
    height: 40vh;
    width: 100vw;
    max-width: 95vw;
    margin: auto;
  }
  .pictureBox {
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .imageSize {
    width: 30vw;
    height: 35vh;
  }
  .react-multi-carousel-list {
    height: 100%;
  }
}
