.productsSection {
  width: 100%;
  display: flex;
}
#filters {
  width: 20vw;
}
#products {
  width: 80vw;
}

@media only screen and (max-width: 670px) {
  .productsSection {
    flex-direction: column;
  }
  #filters {
    width: 100%;
  }
  #products {
    width: 100%;
  }
}
